@charset 'utf8';

@theme-nightoil__palette__primary: #104e7c;
@theme-nightoil__palette__primary--light: #8fadc5;
@theme-nightoil__palette__primary--dark: #08273e;
@theme-nightoil__palette__primary--text: #ffffff;

@theme-nightoil__palette__secondary: #e7c385;
@theme-nightoil__palette__secondary--light: #e8d9bf;
@theme-nightoil__palette__secondary--dark: #948467;
@theme-nightoil__palette__secondary--text: #000000;

@theme-nightoil__palette__error: #e63322;
@theme-nightoil__palette__error--text: #ffffff;

@theme-nightoil__palette__success: #8bc34a;
@theme-nightoil__palette__success--text: #000000;

@theme-nightoil__palette__body--background: #ffffff;
@theme-nightoil__palette__hyperlink: #1857d6;
