@charset 'utf8';

@theme-purple__palette__primary: #609;
@theme-purple__palette__primary--light: #bf73e6;
@theme-purple__palette__primary--dark: #33004d;
@theme-purple__palette__primary--text: #ffffff;

@theme-purple__palette__secondary: #ffcc33;
@theme-purple__palette__secondary--light: #fff350;
@theme-purple__palette__secondary--dark: #c79100;
@theme-purple__palette__secondary--text: #000000;

@theme-purple__palette__error: #e63322;
@theme-purple__palette__error--text: #ffffff;

@theme-purple__palette__success: #8bc34a;
@theme-purple__palette__success--text: #000000;

@theme-purple__palette__body--background: #ffffff;
@theme-purple__palette__hyperlink: #1857d6;
