@charset 'utf8';

@import (less) './common/fonts.less';

@web-app-commons__sizes__cylinder-picker--gap--vertical: 5px;
@web-app-commons__sizes__cylinder-picker--items: 5;

@web-app-commons__sizes__cylinder-picker-item--height: (@materialdesign__font__headline--size * @web-app-commons__paragraph__text--lineheight--ratio) + (2 * @web-app-commons__sizes__cylinder-picker--gap--vertical);
@web-app-commons__sizes__cylinder-picker--height: @web-app-commons__sizes__cylinder-picker-item--height * @web-app-commons__sizes__cylinder-picker--items;

@web-app-commons__sizes__cylinder-picker-date-day--width: 65px;
@web-app-commons__sizes__cylinder-picker-date-month--width: 140px;
@web-app-commons__sizes__cylinder-picker-date-month--width--short: 75px;
@web-app-commons__sizes__cylinder-picker-date-year--width: 85px;
@web-app-commons__sizes__cylinder-picker-date-year--width--short: 65px;
@web-app-commons__sizes__cylinder-picker-time-hour--width: 65px;
@web-app-commons__sizes__cylinder-picker-time-minute--width: 65px;

@web-app-commons__sizes__cylinder-picker-separator--padding: (@web-app-commons__sizes__cylinder-picker-item--height * ((@web-app-commons__sizes__cylinder-picker--items - 1) / 2) + 3px);
@web-app-commons__sizes__cylinder-picker-separator--width: 20px;

@web-app-commons__sizes__cylinder-picker-date--width: @web-app-commons__sizes__cylinder-picker-date-day--width + @web-app-commons__sizes__cylinder-picker-date-month--width + @web-app-commons__sizes__cylinder-picker-date-year--width + (2 * @web-app-commons__sizes__cylinder-picker-separator--width);
@web-app-commons__sizes__cylinder-picker-date--width--short: @web-app-commons__sizes__cylinder-picker-date-day--width + @web-app-commons__sizes__cylinder-picker-date-month--width--short + @web-app-commons__sizes__cylinder-picker-date-year--width--short + (2 * @web-app-commons__sizes__cylinder-picker-separator--width);
@web-app-commons__sizes__cylinder-picker-time--width: @web-app-commons__sizes__cylinder-picker-time-hour--width + @web-app-commons__sizes__cylinder-picker-time-minute--width + (1 * @web-app-commons__sizes__cylinder-picker-separator--width);
