@charset 'utf8';

@import (less) '../../less/sizes.less';

@date--width: @web-app-commons__sizes__cylinder-picker-date--width;
@time--width: @web-app-commons__sizes__cylinder-picker-time--width;
@gap--width: 50px;
@total--width: @date--width + @time--width + @gap--width;
@indent: (800px - @total--width) / 2;

commons-cylinder-picker-date {
	position: fixed;
	top: 150px;
	left: @indent;
}

commons-cylinder-picker-time {
	position: fixed;
	top: 150px;
	left: @indent + @date--width + @gap--width;
}
