<ng-container *ngIf="this.datetime">
	<commons-cylinder-picker-date
			[wrapping]="false"
			[short]="false"
			[(timestamp)]="this.datetime"
	></commons-cylinder-picker-date>
	<commons-cylinder-picker-time
			[wrapping]="false"
			[(timestamp)]="this.datetime"
	></commons-cylinder-picker-time>
	
	<commons-bottom-action-buttons
			[actions]="[ {
					action: 'set',
					icon: 'check',
					main: true,
					disabled: this.disabled || this.busy
			} ]"
			(onAction)="this.doSetTime()"
	></commons-bottom-action-buttons>
</ng-container>
