<commons-pane *ngIf="this.type"
		[title]="'Software updates'"
>
	<commons-info-line subtle *ngIf="this.current">Currently running version {{this.current}}</commons-info-line>
	
	<ng-container *ngIf="this.type === EPiUpdateType.REMOTE">
		<ng-container *ngIf="this.available; else none">
			<commons-info-line notification>An update is available. Update is version {{this.available.version}}, {{this.available.timestamp | commonsPrettyDateTime:true}}</commons-info-line>
			<button commons-button class="raised" *ngIf="!this.updating"
					(click)="this.doUpdate();"
			>Update</button>
		</ng-container>
		<ng-template #none>
			<commons-info-line subtle>No updates available.</commons-info-line>
		</ng-template>
	</ng-container>
</commons-pane>
<pi-local-source *ngIf="this.type === EPiUpdateType.MEDIA && this.current"
		[current]="this.current"
		[(available)]="this.available"
		(onUpdate)="this.doUpdate($event);"
></pi-local-source>
