@charset 'utf8';

@web-app-commons__elevation__background: -1000;

@web-app-commons__elevation__scrolling: 1;

@web-app-commons__elevation__scrolling-raised: 1000;

@web-app-commons__elevation__scrolling-topmost: 2000;

@web-app-commons__elevation__fixed: 3000;

@web-app-commons__elevation__scrimmed: 4000;

@web-app-commons__elevation__scrimmed-topmost: 5000;

@web-app-commons__elevation__snackbar: 6000;
