<commons-drawer
		[name]="this.name"
		[direction]="ECommonsDrawerDirection.RIGHT"
>
	<section container>
		<commons-pane *ngIf="this.title !== undefined"
				[title]="this.title"
		>
			<ng-container *ngIf="this.medias && this.medias.length > 0; else noMedia">
				<table commons-table
						[header]="[
								{ name: 'device', caption: 'Available media devices', width: '100%' }
						]"
						[rowSelectable]="!this.disabled && !this.busy"
						[maxHeight]="3"
						[data]="this.medias"
						[(selected)]="this.media"
						(selectedChange)="this.doMediaChanged();"
				></table>
			</ng-container>
			<ng-template #noMedia>
				<commons-info-line error>No available media devices.</commons-info-line>
			</ng-template>

			<section class="buttons">
				<button commons-button class="raised icon small" refresh
						[disabled]="this.disabled || this.busy"
						(click)="this.refreshMedias();"
				><i class="material-icons">refresh</i></button>
			
				<button commons-button class="raised icon small" eject
						[disabled]="this.disabled || this.busy || this.media === undefined"
						(click)="this.doEject();"
				><i class="material-icons">eject</i></button>
			</section>
			
			<section content>	
				<ng-container *ngIf="this.media !== undefined">
					<ng-content></ng-content>
				</ng-container>
			</section>
		</commons-pane>
	</section>
</commons-drawer>
