@charset 'utf8';

@padding--vertical: 10px;

section[container] {
	display: block;
	margin: 0;
	padding: @padding--vertical 0;
	
	width: 75vw;
	max-width: 300px;
	height: 100vh;
	
	z-index: 200;
	
	background-color: white;
}

section.buttons {
	margin: 10px 0 20px 0;
	
	[refresh], [eject] {
		float: right;
	}
	
	[eject] {
		margin-right: 20px;
	}
}

section[content] {
	clear: both;
}
