@charset 'utf8';

section {
	display: block;
	box-sizing: border-box;
	width: ~'calc(50% - 20px)';
	float: left;
	
	&[devices] {
		margin-right: 20px;
	}
	&[available] {
		margin-left: 20px;
	}
}

button {
	clear: both;
}
