<commons-pane
		[title]="'Install update from USB pen drive'"
>
	<section devices>
		<table commons-table
				[header]="[
						{ name: 'device', caption: 'Device', width: '100%' }
				]"
				[rowSelectable]="true"
				[(selected)]="this.media"
				(selectedChange)="this.doCheck();"
				[data]="this.medias"
				[height]="4"
		></table>
	</section>

	<section update>
		<ng-container *ngIf="this.available; else none">
			<commons-info-line notification>An update is available. Update is version {{this.available.version}}, {{this.available.timestamp | commonsPrettyDateTime:true}}</commons-info-line>
			<button commons-button class="raised"
					(click)="this.doUpdate();"
			>Update</button>
		</ng-container>
		<ng-template #none>
			<commons-info-line subtle>No updates available.</commons-info-line>
		</ng-template>
	</section>
</commons-pane>
